body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

.row {
	height: 300px;
}


.col-md-3
{
	border-radius: 25px;
    padding: 20px; 
    width: 200px;
    height: 600px; 
	border: 3px solid purple;
	background-color: gray;
}

.col-md-6
{
	border-radius: 25px;
    padding: 20px; 
    width: 200px;
    height: 600px; 
	border: 3px solid purple;
}

