body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

.row
{
	display: block;
    height: 100%;
    width: 100%;

}

.col-md-3
{
	height: 100%;
    width: 100%;
	border: 3px solid purple;
	background-color: gray;
}

.col-md-6
{
	height: 100%;
    width: 100%;
	border: 3px solid purple;
}

h1 
{
	text-align:"center";
}