body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-image: ("https://recstarz.files.wordpress.com/2014/07/wpid-twitch-logo-1.jpg");
  background-repeat: repeat-y;

}

a {
  color: #00B7FF;
}

h1 {
	text-align: center;
}

.row {
	height: 300px;
}

.input-group {
	margin-top: 10px;
	border-radius: 20px;
    padding: 20px; 
	border: 3px solid purple;
	background-color: gray;
	width: 100%;


}

img {
	padding-right: 10px;
	padding-top: 5px;
}
.col-md-3
{
	border-radius: 25px;
    padding: 20px; 
    width: 200px;
    height: 600px; 
	border: 3px solid purple;
	background-color: gray;
}

.col-md-6
{
	border-radius: 25px;
    padding: 20px; 
    width: 200px;
    height: 600px; 
	border: 3px solid purple;
}

